/**
 * Basic typography style for copy text
 */

// 1rem/em = 10px
html {
	font: 300 62.5% / 1.4 $text-font-stack !important;
}

// body font size defaults to 16px
body {
	font-size: 1.6em;
	font-weight: 300;
}

button {
	letter-spacing: 0.03rem;
	font-weight: 300;
}
