.ListingDetails {
	padding: 2rem 0;
	border-bottom: 1px solid $muted-line-color;

  &__top {
    display: flex;
    justify-content: space-between;

    &__host-avatar {
      height: 5rem;
      width: 5rem;
      background-color: $avatar-background-color;
      border-radius: 50%;
    }
  }

  &__nums {
    margin-top: 1rem;
    font-weight: 400;

    >.spacer {
      margin: 0 0.5rem;
    }
  }
}
