.ListingReviewsMobile,
.ListingReviewsDesktop {
	&__title {
		display: flex;
		align-items: center;

		> svg {
			margin-right: 1rem;
			height: 1.6rem;
			color: $main-color;
		}

		.spacer {
			display: inline-block;
			margin: 0 0.5rem;
		}
	}
}

.ListingReviewsMobile {
	&__reviews-preview {
		display: flex;
		overflow: auto clip;
		margin-top: 2.5rem;
		scrollbar-width: none;
		scroll-snap-type: x mandatory;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__show-all {
		margin-top: 2.5rem;
	}
}

.ListingReviewsDesktop {
	&__show-all {
		margin-bottom: 2rem;
	}

	.AverageScores {
		width: 100%;
		display: flex;
		justify-content: space-between;

		&__column {
			width: 50%;
			margin-top: 2rem;

			&__category {
				margin: 1.5rem 0;
			}
		}
		.Score {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&__category {
				width: 30%;
				font-weight: 400;
			}

			&__info {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 70%;

				&__bar {
					background-color: rgb(221, 221, 221);
					width: 40%;
					height: 0.4rem;
					max-width: 12rem;
					border-radius: 0.2rem;
					overflow: hidden;

					.fill {
						border-radius: 0.2rem;
						height: 100%;
						background-color: rgb(34, 34, 34);
					}
				}

				&__value {
					font-size: 1.2rem;
					margin-left: 1rem;
				}
			}
		}
	}
}

.ListingReviewsItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 85%;
	flex-shrink: 0;
	height: 23rem;
	border: 1px solid $outline-color;
	border-radius: 1.2rem;
	margin-right: 1rem;
	padding: 1.5rem;
	scroll-snap-align: start;
	scroll-snap-stop: always;

	&:last-child {
		margin-right: 0;
	}

	&__header {
		a {
			display: flex;
			align-items: center;
			width: fit-content;
		}

		&__avatar {
			height: 4rem;
			width: 4rem;
			background-color: $avatar-background-color;
			border-radius: 50%;
			margin-right: 1.5rem;

			> img {
				height: 100%;
			}
		}

		&__author {
			.review-date {
				font-weight: 400;
				color: $muted-text-color;
				font-size: 1.4rem;
			}
		}
	}

	&__content {
		margin-top: 1.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;

		> p {
			white-space: pre-wrap;
			text-overflow: ellipsis;
			height: 95%;
			font-weight: 400;
		}
	}

	button.ListingReviewsItem__show-more {
		margin: 0;
		margin-top: auto;
	}
}

.ShowMore--ShowListingReviews {
	.ShowMore__container {
		padding-top: 0;

		> header {
			position: absolute;
			top: 1rem;
			left: 50%;
			transform: translateX(-50%);
			background-color: white;

			h2 {
				display: flex;
				align-items: center;
				font-size: 2.8rem;
				font-weight: 300;
				padding-bottom: 0.5rem;

				svg {
					height: 2.4rem;
					color: $main-color;
					margin-right: 0.5rem;
				}

				.divider {
					margin: 0 1rem;
				}
			}
		}

		.loading {
			position: absolute;
			left: 49%;
			transform: translateX(-50%);
			bottom: 2rem;
			display: none; 

			&.active {
				display: block;
			}
		}

		.ListingReviewsItem {
			border: none;
			height: unset;

			&__content {
				-webkit-line-clamp: unset;
			}

			&__show-more {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 744px) {
	.ListingReviewsDesktop {
		&__show-all {
			width: 30rem !important;
		}
	}
	.ListingReviewsItem {
		margin: 4rem 0;
		border: 0;
		padding: 0;
		height: unset;

		&:first-child {
			margin-top: 2rem;
		}

		&:last-child {
			margin-bottom: 2rem;
		}

		&__content {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			white-space: pre-wrap;

			> p {
				text-overflow: ellipsis;
				height: 95%;
				font-weight: 400;
			}
		}

		button.ListingReviewsItem__show-more {
			margin-top: 1.4rem;
		}
	}
}

@media screen and (min-width: 1128px) {
	.ListingReviewsDesktop {
		&__reviews {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.ListingReviewsItem {
				margin: 2rem 0;
			}
		}
	}
}
