.ListingListingDescription {
	&__container {
		line-height: 2.4rem;
		max-height: 14.4rem;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;

		> p {
			text-overflow: ellipsis;
			font-weight: 400;
			white-space: pre-wrap;
		}
	}
}

.ShowListingDescription {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 90vw;
	max-width: 70rem;
	height: 80vh;
	background-color: white;
	border-radius: 1.2rem;

	&__nav {
		padding: 2rem 3rem;

		> button {

			@include buttonSvgOutline;
		}
	}
	
	&__container {
		height: calc(98% - 6.2rem);
		overflow-y: auto;
		padding: 3rem;

		p {
			white-space: pre-wrap;
			font-weight: 400;
		}
	}
}