.ListingImagesGrid {
	position: relative;
	padding-top: 50%;
	background-color: white;
	border-radius: 1.8rem;
	// min-height: 30rem;
	// height: 52vh;
	max-height: 56rem;
	overflow: hidden;

	&__main-image-container {
		top: 0;
		left: 0;
		height: 100%;
		width: calc(50% - 0.8rem);
		
		@include image-darken;
		position: absolute;

		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__grid {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		background-color: white;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: calc(50% - 0.4rem) calc(50% - 0.4rem);
		gap: 0.8rem;

		&__image-container {
			position: relative;
			width: 100%;
			height: 100%;

			@include image-darken;
		}

		&__image {
			height: 100%;
			width: 100%;
			object-fit: cover;

		}
	}

	&__more-button {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 2.4rem;
		z-index: 2;
		display: flex;
		align-items: center;
		padding: 0.7rem 1.4rem;
		border-radius: 0.8rem;
		border: 1px solid black;

		> svg {
			margin-right: 1rem;
		}
	}
}

@media screen and (min-width: 950px) {
	.ListingImagesGrid {
		padding: 0;
		height: 54vh;
		max-height: 56rem;
	}
}

@media screen and (min-width: 1280px) {
	.ListingImagesGrid {
		// padding: 0;
		// height: 56rem;
		width: 112rem;
	}
}
