.EntryForm {
	&__close {
		&.hide {
			position: relative;
			bottom: 1000%;
		}
	}
}

.Navbar-filler {
	display: block;
	height: 8rem;
}

@media screen and (min-width: 744px) {
	.Entry__entryform-container {
		height: calc(100vh - 8.4rem);
		position: relative;
	}

	.Entry {
		display: flex;
		flex-direction: column;

		.Navbar {
			display: block;
		}

		.EntryForm {
			position: absolute;
			left: 50%;
			top: -1%;
			transform: translateX(-50%);

			border: 1px solid #b0b0b0;
			border-radius: 12px;
			margin: 6rem 0;
			align-self: center;
			width: 56.6rem;
		}
	}
}
