.ListingPage {
	--padding: 2rem;

	&__nav,
	&__basics__title,
	&__content > div > section {
		padding: 0 var(--padding);
	}

	section {
		> *:first-child {
			padding: 2rem 0;
			border-bottom: 1px solid $muted-line-color;
		}
	}

	h2 {
		font-size: 2.2rem;
		font-weight: 300;
	}

	.show-more-button {
		margin: 1.5rem 0;
		text-decoration: underline;

		> svg {
			margin-left: 0.5rem;
		}
	}

	.show-all-button {
		width: 100%;
		border: 1px solid black;
		border-radius: 0.8rem;

		&:hover {
			background-color: #f7f7f7;
			> span {
				text-decoration: underline;
			}
		}

		> span {
			display: inline-block;
			padding: 1.25rem 0;
		}
	}

	&__basics {
		display: flex;
		flex-direction: column;
	}

	&__content {
		> div:first-child {
			// width: 100%;
			flex: 2 1 65rem;
		}
		> div:last-child {
			margin-left: 8.33333% !important;
			flex: 1 1 37rem;
			max-width: 37rem;
		}

		&__reservation-box {
			width: 100%;
			height: 300px;
			background-color: grey;
			display: block;

			&[aria-hidden="true"] {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 744px) {
	.ListingPage {
		--padding: 4rem;

		&__nav {
			padding: 0;
		}

		&__content {
			display: flex;
		}
	}
}
