.ListingPage {
	--padding: 2rem;

	&__nav,
	&__basics__title,
	&__content .content-top-left > section,
	.content-bottom > section {
		padding: 0 var(--padding);
	}

	section {
		> *:first-child {
			padding: 2rem 0;
			border-bottom: 1px solid $muted-line-color;
		}
	}

	section:last-child {
		> *:first-child {
			border-bottom: 0;
		}
	}

	h2 {
		font-size: 2.2rem;
		font-weight: 300;
	}

	.show-more-button {
		margin: 1.5rem 0;
		text-decoration: underline;

		> svg {
			margin-left: 0.5rem;
		}
	}

	.show-all-button {
		width: 100%;
		border: 1px solid black;
		border-radius: 0.8rem;

		&:hover {
			background-color: #f7f7f7;
			> span {
				text-decoration: underline;
			}
		}

		> span {
			display: inline-block;
			padding: 1.25rem 0;
		}
	}

	&__basics {
		display: flex;
		flex-direction: column;
	}

	&__content {
		.content-top-left {
			// width: 100%;
			flex: 2 1 65rem;
		}
		.content-top-right {
			padding-right: 4rem;
			padding-top: 2rem;
			margin-left: 8.33333%;
			flex: 1 1 37rem;
			max-width: 37rem;
		}

		&__reservation-box {
			width: 100%;
			height: 300px;
			background-color: grey;
			display: block;
			position: sticky;
			top: 15rem;

			&[aria-hidden="true"] {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 744px) {
	.ListingPage {
		--padding: 4rem;

		&__content {

			.content-top-left {
				section {
					padding-right: 0;
				}
			}

			.content-bottom {
				margin-top: 5rem;
			}

			.content-bottom > section:first-child > div {
				border-top: 1px solid $muted-line-color;
			}
		}


		&__basics {
			&__title {
				order: 1;
			}

			&__pictures {
				order: 2;
				padding: 0 var(--padding);
			}
		}

		&__nav {
			padding: 0;
		}

		&__content .content-top {
			display: flex;
		}
	}
}

@media screen and (min-width: 1128px) {
	.ListingPage {
		--padding: 8rem;

		.content-top-right {
			padding-right: var(--padding);
		}
	}
}

// This is the point where you make the max width of your items 1280px;
@media screen and (min-width: 1280px) {
	.ListingPage {
		.Navbar__container,
		.ListingPage__basics__pictures,
		.ListingPage__basics__title,
		.ListingPage__content,
		.Footer {
			width: 1280px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
