.TripPage {
	--container-padding: 3rem;

  h2 {
    font-weight: 300;
  }

	.TripPage-container {
		padding: var(--container-padding);
		margin-left: auto;
		margin-right: auto;
		overflow-x: hidden;
	}

	&__header {
		span {
			font-weight: 400;
			color: $muted-text-color;
		}
		h1 {
			font-weight: 300;
		}
	}

	.divider {
		margin: 3rem 0;
		width: 100%;
		height: 0.1rem;
		background-color: $muted-line-color;
	}

	&__carousel {
		height: 22.5rem;
		border: 1px solid black;
		border-radius: 0.8rem;
		background: rgb(228, 228, 228);
		margin-bottom: 2rem;
	}

	&__logistics {
		padding: 3rem 0;
		margin-top: 2rem;
		border-top: 1px solid $muted-line-color;
		border-bottom: 1px solid $muted-line-color;
		width: 100%;
		display: flex;

		&__panel {
			width: 50%;
			font-weight: 400;

			&:nth-child(2) {
				padding-left: 3rem;
				border-left: 1px solid $muted-line-color;
			}

			.check-time {
				font-weight: 500;
				margin-bottom: 0.5rem;
			}
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
	}

	.active {
		cursor: default;
		& > a,
		& > div {
			& > span,
			& > svg {
				color: black;
			}
		}
		&:first-child {
			cursor: pointer;
		}
	}

	button:last-child {
		& > a,
		& > div {
			border-bottom: 0;
		}
	}

	button > a,
	button > div {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 1.5rem 0;
		border-bottom: 1px solid $muted-line-color;
		position: relative;
		font-weight: 400;

		& > span,
		& > svg {
			color: $disabled-text-color;
		}

		&:first-child {
			color: black;
		}

		&::after {
			position: absolute;
			content: "";
			width: 100vw;
			height: 100%;
			// offsets the 3rem padding on the container. Adjust this on changing container padding
			left: calc(var(--container-padding) * -1);
			background-color: inherit;
			z-index: -1;
		}

		&:hover {
			background-color: $highlight-hover-color;
		}

		& > svg:first-child {
			display: flex;
			justify-content: flex-start;
			width: 20px !important;
			margin-right: 2rem;
		}

		& > svg:last-child {
			margin-left: auto;
		}
	}

	.big-divider {
		margin: 2rem 0;
		position: relative;
		height: 1rem;

		&::after {
			background-color: $muted-line-color;
			position: absolute;
			content: "";
			width: 100vw;
			height: 100%;
			left: calc(var(--container-padding) * -1);
		}
	}

	&__receipt {
		margin: 3rem 0;

		&__title {
			margin-bottom: 2rem;
		}

		&__breakdown {
			.breakdown-line {
				&:last-child {
					font-weight: 300;
					border-top: 1px solid $muted-line-color;
					padding-top: 1rem;
				}

				margin: 1rem 0;
				font-weight: 400;
				display: flex;
				justify-content: space-between;
			}
		}
	}

	&__directions {
		margin: 3rem 0;

		&__title {
			margin-bottom: 2;
		}

		&__map {
			margin: 2rem 0;
			border: 1px solid black;
			border-radius: 0.8rem;
			height: 22rem;
			background-color: grey;
		}

		&__address {
			padding-bottom: 2rem;
			font-weight: 400;
			border-bottom: 1px solid $muted-line-color;

			& > div:first-child {
				margin: 1rem 0;
				font-weight: 300;
			}
		}

		&__copy {
			display: flex;
			flex-direction: column;
		}
	}

  &__host {
    margin: 3rem 0;
    
    &__title {
      display: flex; 
      justify-content: space-between;
      align-items: center;

      .host-details {
        span {
          text-decoration: underline;
        }
      }

      .host-image {
        width: 10rem;
        height: 10rem;
        background-color: $avatar-background-color;
        border-radius: 50%;
      }
    }
  }

  &__support {
    margin-top: 3rem;
    margin-bottom: 5rem;

    &__help {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
