.UserPage {
	.UserPage-container {
		max-width: 1200px !important;
		margin-left: auto;
		margin-right: auto;
		width: min(100%, 60rem);
		padding: 3rem;

		&--revised {
			display: none;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;

		&__title {
			h1 {
				font-size: 2.6rem;
				font-weight: 500;
			}

			span {
				font-weight: 400;
				font-size: 1.4rem;
				color: $muted-text-color;
			}
		}

		&__avatar {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: $avatar-background-color;
		}
	}

	&__badges {
		display: flex;
		flex-direction: column;

		.badge {
			margin: 1rem 0;
			display: flex;
			align-items: center;

			svg {
				margin-right: 1rem;
			}
		}
	}

	// Host Specific
	&__about {
		& > div > h2 {
			font-size: 2.4rem;
			font-weight: 300;
			margin: 2.5rem 0;
		}

		& > p {
			font-weight: 400;
		}
	}

	// Host Specific
	&__listings {
		& > div > h2 {
			font-size: 2.4rem;
			font-weight: 300;
			margin: 2.5rem 0;
		}

		&__list {
			display: flex;
			flex-direction: column;

			& .ListingPreview {
				margin: 1rem 0;
				border-radius: 0.8rem;
				overflow: hidden;
				@include hover;

				&:first-child {
					margin-top: 0.5rem;
				}

				&__image {
					position: relative;
					height: 200px;
					width: 100%;
					display: inline-block;
					overflow: hidden;

					& > img {
						position: absolute;
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: 50% 50%;
					}
				}

				&__details,
				&__title {
					padding-left: 1rem;
					padding-right: 1rem;
				}

				&__details {
					padding-top: 0.5rem;
					display: flex;
					align-items: center;
					font-weight: 400;
					margin: 0.5rem 0;
					position: relative;

					& > div > svg {
						width: 1.5rem !important;
						height: 1.5rem !important;
						color: $main-color;
					}

					& > div {
						font-size: 1.4rem;

						&:first-child {
							position: relative;
						}

						&:nth-child(2) {
							margin: 0 0.4rem;
						}

						&:last-child {
							color: $muted-text-color;
						}
					}
				}

				&__title {
					padding-bottom: 1rem;
					font-weight: 400;

					& > div:last-child {
						width: 95%;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}
	}

	.UserPage-divider {
		height: 1px;
		background-color: $muted-line-color;
		margin: 3rem 0;
	}

	&__reviews {
		&__title {
			display: flex;
			align-items: center;

			h2 {
				font-weight: 300;
			}

			svg {
				margin-right: 1rem;
			}
		}

		&__more-button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20.7rem;
			height: 5rem;
			border: 1px solid black;
			border-radius: 0.8rem;
			transition: transform 100ms ease-in-out;

			&[aria-busy="true"] {
				background-color: white !important;
				pointer-events: none;
			}

			&:hover {
				background-color: rgb(243, 243, 243);
			}

			&:active {
				transform: scale(0.95);
				transition: transform 100ms ease-in-out;
			}
		}
	}

	&__footer {
		margin: 5rem 0;

		&__logout-button {
			width: 100%;
			height: 5rem;
			border: 1px solid $muted-text-color;
			border-radius: 0.8rem;
			transition: transform 100ms ease-in-out;

			&:hover {
				background-color: rgb(243, 243, 243);
			}

			&:active {
				transform: scale(0.95);
				transition: transform 100ms ease-in-out;
			}
		}
	}
}

@media screen and (min-width: 744px) {
	.UserPage {
		&__header {
			h1 {
				font-size: 3.6rem;
			}

			&__avatar {
				margin-bottom: 3rem;
			}
		}
	}
}

@media (min-width: 1128px) {
	.UserPage {
		&__header {
			&__avatar {
				width: 200px;
				height: 200px;
			}
		}

		&__badges {
			position: sticky;
			top: 11rem;
			margin-right: 5rem;
			border: 1px solid $muted-line-color;
			height: fit-content;
			padding: 3rem;
			border-radius: 1.2rem;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
		}

		&__listings {
			&__list {
				display: grid;
				grid-template-columns: repeat(2, calc(50% - 2rem));
				gap: 2rem;

				& .ListingPreview {
					margin: 0;
					&:first-child {
						margin-top: 0;
					}

					&__image {
						width: 100%;
						max-height: 250px;
						// padding-top: 100%;
					}
				}
			}
		}

		.UserPage-container {
			width: unset;
			padding: 3rem 8rem;
			box-sizing: content-box;

			&--original {
				display: none;
			}

			&--revised {
				display: flex;
				justify-content: center;

				& > div:last-child {
					flex: 1;
					max-width: 915px;
				}
			}
		}
	}
}

@media (min-width: 1780px) {
	.UserPage {
		.UserPage-container {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
}
