.Navbar {
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	transition: background-color 300ms;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 4rem;
		z-index: 10;
		height: 8rem;
	}

	&.active:not(.transparent) {
		.background {
			background-color: rgba(0, 0, 0, 0.25);
			inset: 0px;
			position: fixed;
			z-index: -2;
		}

		.Navbar__left {
			&::after {
				transform: scaleY(3.05);
			}
		}

		.Navbar {
			&__search__component__categories {
				span {
					color: black;

					&::after {
						background-color: black;
					}
				}
			}
		}
	}

	&.transparent {
		background-color: transparent;
		box-shadow: none;
		color: white;
		transition: background-color 300ms;

		.Navbar__left {
			&::after {
				background-color: transparent;
				transition: 300ms;
			}

			&__logo {
				a svg {
					fill: white;
					transition: fill 300ms;
				}
			}
		}

		.Navbar__right {
			&__globe {
				button svg {
					transition: 300ms;
					color: white;
				}
			}

			&__host a span {
				transition: 300ms;
				color: white;
			}
		}
	}

	&__search {
		padding: 0 2.4rem;

		&__button {
			position: relative;
			width: 30rem;
			height: 4.8rem;
			display: flex;
			align-items: center;
			border: 1px solid rgb(221, 221, 221);
			box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px,
				rgba(0, 0, 0, 0.05) 0px 4px 12px;
			border-radius: 4rem;

			&--search-page {
				position: relative;
			}

			& > div {
				padding: 0 2rem;
				font-size: 1.4rem;
			}

			& > svg {
				box-sizing: content-box;
				height: 1.2rem !important;
				width: 1.2rem !important;
				color: white;
				padding: 1rem;
				background-color: $main-color;
				border-radius: 50%;
				margin: 0.7rem;
				margin-left: auto;
			}
		}
	}

	&__left {
		display: flex;
		align-items: center;

		// This is the bottom, stretched portion of the Navbar component
		// when the Search component is active, but not at the top
		&::after {
			transform-origin: 50% 0%;
			transition-duration: 150ms;
			transition-property: opacity, background-color, -ms-transform,
				-webkit-transform, transform;
			transition-timing-function: ease-in-out;
			background: rgb(255, 255, 255);
			content: "";
			height: 100%;
			left: 0px;
			position: absolute;
			top: 0px;
			width: 100%;
			z-index: -1;
			opacity: 1;
		}

		&__logo {
			width: 3rem;

			.logo-name {
				display: none;
			}

			svg {
				fill: $main-color;
				transition: fill 600ms;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
		margin-left: auto;

		&__host {
			padding: 0 1rem;

			display: grid;
			place-items: center;

			& > a span {
				transition: 300ms;
				pointer-events: none;
				font-weight: 400;
				font-size: 1.4rem;
			}
		}

		&__globe {
			display: grid;
			place-items: center;
			padding: 1.2rem;

			& > button {
				background-color: transparent;
				@include buttonSvgOutline;

				svg {
					transition: 300ms;
				}
			}
		}

		&__profile {
			padding-left: 1rem;
			position: relative;

			&__button {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 8rem;
				padding: 0.4rem 0.5rem 0.4rem 1.25rem;
				border-radius: 2.1rem;
				border: 0.1rem solid #dddddd;
				transition: box-shadow 2ms ease;

				&:hover {
					transition: box-shadow 2ms ease;
					box-shadow: rgba(0, 0, 0, 0.18) 0 0.2rem 0.4rem;
				}

				&__icon {
					color: #717171;

					&--profile {
						height: 3.2rem;
					}
				}
			}

			&__dropdown {
				display: none;
				position: absolute;
				flex-direction: column;
				width: 25rem;
				background-color: white;
				box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 16px;
				padding: 8px 0px;
				border-radius: 1.2rem;
				top: calc(100% + 1.2rem);
				right: 0;

				&.active {
					display: flex;
				}

				&__link {
					& > a {
						& > div {
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
						}
					}

					span,
					div {
						color: rgb(0, 0, 0);
						font-size: 1.4rem;
						font-weight: 400;
					}

					&--inactive {
						pointer-events: none;
						span {
							color: $disabled-text-color;
						}
					}
				}

				.navbar-divider {
					width: 100%;
					height: 1px;
					background-color: $muted-line-color;
					margin: 0.8rem 0;
				}

				& > button {
					height: 3rem;
					width: 100%;
					padding: 0 1.2rem;
					text-align: left;

					&:hover {
						background-color: rgba(128, 128, 128, 0.103);
					}
				}
			}
		}
	}
}

.Navbar__search__component {
	position: absolute;
	border: 1px solid #dddddd;
	border-radius: 32px;
	color: #222222;
	display: flex;
	align-items: center;
	height: 66px;
	width: min(85rem, 90%);
	background-color: #ffffff;
	left: 50%;
	// Cool way of centering an element without using transform: translateX,
	// which messes with the transform: scale transition
	margin-left: calc(min(85rem, 90%) / 2 * -1);
	top: 14rem;

	&--search-page {
	}

	&__categories {
		position: absolute;
		width: 100%;
		text-align: center;
		top: -6rem;

		span {
			position: relative;
			font-size: 1.4rem;
			font-weight: 400;
			margin: 0 1.2rem;
			color: white;
			pointer-events: none;

			&:first-child {
				&::after {
					display: block;
					content: "";
					position: absolute;
					bottom: -1rem;
					left: 50%;
					transform: translateX(-50%);
					height: 0.2rem;
					width: 20%;
					background-color: white;
				}
			}
		}
	}

	& > svg {
		box-sizing: content-box;
		height: 1.6rem !important;
		width: 1.6rem !important;
		color: white;
		padding: 1.5rem;
		background-color: $main-color;
		border-radius: 50%;
		margin: 0.7rem;
		margin-left: auto;
	}
}

.component {
	&-enter {
		top: 60px;
		opacity: 0;
		transform-origin: 12% -108%;
		transform: scaleX(0.7);
	}

	&-enter-active {
		transform-origin: 12% -108%;
		top: 140px;
		opacity: 1;
		transform: scaleX(1);
		transition: 150ms ease-in-out;
	}

	&-exit {
		top: 140px;
		transform: scaleX(1);
		transform-origin: 5% -200%;
		opacity: 1;
	}

	&-exit-active {
		transform-origin: 5% -200%;
		transform: scaleX(0.7);
		top: 60px;
		opacity: 0;
		transition: 150ms ease-in-out;
	}
}

.button {
	&-enter {
		transform-origin: 13% -73%;
		top: 90px;
		opacity: 0;
		transform: scaleX(1.75);
	}

	&-enter-active {
		transform-origin: 13% -73%;
		top: 0px;
		opacity: 1;
		transform: scaleX(1);
		transition: 150ms ease-in-out;
	}

	&-exit {
		transform-origin: 13% -55%;
		transform: scaleX(1);
		top: 0px;
		opacity: 1;
	}

	&-exit-active {
		transform-origin: 13% -55%;

		transform: scaleX(1.75);
		top: 90px;
		opacity: 0;
		transition: 150ms ease-in-out;
	}
}

@media (min-width: 744px) {
	.Navbar {
		&__search__component__categories span {
			font-size: 1.6rem;
			letter-spacing: 0.05rem;
		}
	}
}

@media (min-width: 950px) {
	.Navbar {
		justify-content: space-between;

		&.active:not(.transparent) {
			.Navbar__left {
				&::after {
					transform: scaleY(2.25);
				}
			}
		}

		&__left {
			flex: 1 0 140px;
		}

		&__search {
			&__component {
				top: 8.65rem;

				&__categories span {
					font-size: 1.4rem;
				}
			}
		}

		&__right {
			justify-content: flex-end;
			flex: 1 0 140px;
			margin-left: none;
		}
	}

	.component {
		&-enter {
			top: 40px;
			opacity: 0;
			transform-origin: 50% -13%;
			transform: scaleX(0.3);
		}

		&-enter-active {
			transform-origin: 50% -13%;
			top: 86.5px;
			opacity: 1;
			transform: scaleX(1);
			transition: 150ms ease-in-out;
		}

		&-exit {
			top: 86.5px;
			transform: scaleX(1);
			transform-origin: 50% -13%;
			opacity: 1;
		}

		&-exit-active {
			transform-origin: 50% -13%;
			transform: scaleX(0.3);
			top: 40px;
			opacity: 0;
			transition: 150ms ease-in-out;
		}
	}

	.button {
		&-enter {
			transform-origin: 50% -13%;
			top: 40px;
			opacity: 0;
			transform: scaleX(2);
		}

		&-enter-active {
			top: 0px;
			opacity: 1;
			transform: scaleX(1);
			transition: 150ms ease-in-out;
		}

		&-exit {
			transform-origin: 50% -13%;
			transform: scaleX(1);
			top: 0px;
			opacity: 1;
		}

		&-exit-active {
			transform: scaleX(2);
			top: 40px;
			opacity: 0;
			transition: 150ms ease-in-out;
		}
	}
}

@media (min-width: 1128px) {
	.Navbar {
		&__container {
			padding: 0 8rem;
		}

		&__left {
			&__logo {
				.logo-name {
					display: block;
					height: 32px;
					fill: $main-color;
				}
				.logo {
					display: none;
				}
			}
		}

		&__search__component__categories span {
			font-size: 1.6rem;
			letter-spacing: 0.05rem;
		}
	}
}

@media (min-width: 1780px) {
	.Navbar {
		&__container {
			max-width: 1760px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
