.Footer {
	padding-right: 2.4rem;
	padding-left: 2.4rem;

	.FooterSection {
		padding: 3.2rem 0;
	}

	&__meta,
	.FooterSection {
		border-top: 1px solid #dddddd;

		&:first-child {
			border: none;
			padding-top: 0;
		}
	}

	&__meta {
		padding-top: 1.2rem;
		font-size: 1.4rem;
		color: $muted-text-color;

		&__language {
			margin: 1.8rem 0;

			button {
				display: flex;
				text-decoration: underline;
				background-color: inherit;

				svg {
					margin-right: 0.8rem;
				}
			}
		}

		&__docs {
			.spacer {
				display: inline-block;
				text-align: center;
				width: 1.9rem;

				&--hidden {
					display: none;
				}
			}
		}
	}
}

.FooterSection {
	&__head,
	&__list__item {
		padding: 0.6rem 0;
	}

	&__head {
		font-size: 1.4rem;
	}

	&__list {
		&__item {
			pointer-events: none;
			font-size: 1.4rem;

			a {
				letter-spacing: 0.05rem;
				font-weight: 400;
				color: $disabled-text-color;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		&__item.defined {
			pointer-events: all;

			a {
				font-weight: 400;
				color: #222222 !important;
			}
		}
	}
}

// Used for footer elements outside of the landing page
.Footer-container {
	margin-top: 2.4rem;
	padding-top: 4.8rem;
	padding-bottom: 4.8rem;
	background-color: #f7f7f7;
	border-top: 1px solid #dddddd;
}

@media (min-width: 744px) {
	.Footer {
		padding-left: 4rem;

		&__meta {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.FooterSection__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1128px) {
	.Footer {
		padding-left: 8rem;
		padding-right: 8rem;

		&__meta {
			display: flex;
			flex-direction: row-reverse;
			margin-top: 4rem;

			&__docs {
				order: 2;
			}

			&__legal {
				order: 3;
			}

			&__language {
				order: 1;
			}

			&__docs {
				margin-right: auto;
				.spacer--hidden {
					display: inline-block;
				}
			}
		}
	}

	.FooterSection-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.FooterSection {
			width: 25%;
			border: none;
			padding: 0;

			&__list {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

@media (min-width: 1780px) {
	.Footer {
		max-width: 1760px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
