.Footer {
	padding-right: 2.4rem;

	& > div {
		padding: 3.2rem 0;
		border-top: 1px solid #dddddd;

		&:first-child {
			border: none;
			padding-top: 0;
		}

		&:last-child {
			padding-top: 0.9rem;
			padding-bottom: 0;
		}
	}

	&__meta {
		font-size: 1.4rem;
		color: $muted-text-color;

		&__language {
			margin: 1.8rem 0;

			button {
				display: flex;
				text-decoration: underline;

				svg {
					margin-right: 0.8rem;
				}
			}
		}
		&__legal {
		}

		&__docs {
			.spacer {
				display: inline-block;
				text-align: center;
				width: 1.9rem;
			}
		}
	}
}

.FooterSection {
	&__head,
	&__list__item {
		padding: 0.6rem 0;
	}

	&__head {
		font-size: 1.6rem;
	}

	&__list {
		&__item {
			pointer-events: none;
			font-size: 1.4rem;

			a {
				letter-spacing: 0.05rem;
				font-weight: 400;
				color: $disabled-text-color;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		&__item.defined {
			pointer-events: all;

			a {
        font-weight: 400;
				color: #222222 !important;
			}
		}
	}
}

@media (min-width: 744px) {
	.Footer {
		padding-right: 0;

		&__meta {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.FooterSection__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
