.PriceMarker {
	position: relative;
	transform: translate(-50%, -100%);
	width: fit-content;
	height: fit-content;

	> span {
		border-radius: 3.2rem;
		padding: 0.5rem 1rem;
		background-color: white;
		border: 1px solid $outline-color;
		font-size: 1.4rem;
		font-weight: 500;
		transition: transform 200ms;

		@include hover-lite;
	}

	&[aria-selected="true"],
	&:hover {
		transform: translate(-50%, -100%) scale(1.1);
		transition: transform 200ms;
		z-index: 1;
	}

	&[aria-selected="true"] {
		z-index: 1;

		> span {
			background-color: black;
			color: white;
		}
	}

	&__details {
		pointer-events: auto;
		cursor: pointer;
		position: absolute;
		top: 3rem;
		left: 50%;
		transform: translateX(-50%);
		height: 250px;
		width: 225px;
		background-color: white;
		display: block;

		&[aria-hidden="true"] {
			display: none;
		}
	}
}

.PriceMarker__details {
	overflow: hidden;

	.PictureCarousel {
		z-index: 5;
		height: 50%;
	}
}
