.SearchForm {
	height: 100%;
	width: 100%;
	border-radius: 3.2rem;
	// overflow: hidden;

	&__container {
		display: flex;
		align-items: center;
		height: 100%;
		border-radius: 3.2rem;

		&.active {
			.divider {
				opacity: 0;
			}
			background-color: rgba(128, 128, 128, 0.075);
		}

		&:hover {
			.divider {
				opacity: 0;
			}
		}

		.divider {
			width: 1px;
			height: 50%;
			background-color: $muted-line-color;
		}

		&__input-container {
			cursor: pointer;
			border-radius: 3.2rem;
			padding: 0 1rem;
			height: 100%;
			flex: 1 0 0rem;

			&.focused {
				background-color: white !important;
				box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
			}

			&:hover {
				background-color: rgba(187, 187, 187, 0.199);
			}

			&:first-of-type {
				flex: 1 0 5rem;

				.SearchForm__container__input-container__input {
					padding-left: 2.5rem;
					padding-right: 2rem;

					.LocationSearch {
						margin-top: -0.5rem;
						position: relative;

						.searchColumn {
							font-size: 1.4rem;
							background-color: inherit;
							border: none;
							outline: none;
						}

						.searchResults {
							display: block;
							opacity: 0;
							z-index: -99;
							position: absolute;
							width: fit-content;
							height: fit-content;
							padding: 2rem;
							background-color: white;
							box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
							border-radius: 1.6rem;
							top: 5.1rem;
							left: -2.2rem;
							pointer-events: none;

							&.active {
								pointer-events: unset;
								opacity: 1;
								z-index: 10;
							}

							.radio {
								button {
									&:hover {
										background-color: rgb(199, 199, 199);
									}
									height: 30px;
									display: flex;
									justify-self: center;
									align-items: center;
									width: 19rem;

									svg {
										margin: 0.8rem;
										border-radius: 0.4rem;
										background-color: rgb(228, 228, 228);
									}

									span {
										font-weight: 400;
										font-size: 1.4rem;
									}
								}
							}
						}
					}
				}
			}

			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(4) {
				.SearchForm__container__input-container__input {
					padding-left: 1rem;
				}
			}

			&:nth-of-type(2) {
				.SearchForm__container__input-container__input {
					label,
					input {
						cursor: pointer;
					}
				}
			}

			&:last-of-type {
				flex: 1 0 5rem;
				padding-right: 0;
				display: flex;
				align-items: center;

				.button-placeholder {
					height: 48px;
					width: 48px;
					margin-right: 9px;
				}

				.SearchForm__container__input-container__input {
					display: flex;
					margin-right: 3rem;
				}
			}

			&__input {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				position: relative;
				padding: 0;

				& > label {
					cursor: pointer;
					background-color: inherit;
					font-size: 1.4rem;
				}

				& > input {
					font-size: 1.4rem;
					background-color: inherit;
					border: none;
					white-space: nowrap;
					text-overflow: ellipsis;
					width: 100%;
					display: block;
					// overflow: hidden;

					&:focus {
						outline: none;
					}
				}
			}

			&__button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 1.6rem;
				width: 1.6rem;
				padding: 2.4rem;
				margin-right: 0.9rem;
				border-radius: 50%;
				background-color: $main-color;

				svg {
					color: white;
					width: 1.6rem !important;
					height: 1.6rem !important;
				}
			}
		}
	}
}

.SearchForm__container__input-container__button--decoy {
	position: absolute;
	right: 0;
	transition: 200ms;

	&:hover {
		background-color: #007ea8;
		transition: 200ms;
	}
}

.date-range {
	position: absolute;
	top: 125%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	border-radius: 3.2rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;

	&--big {
		display: none;
	}
}

button.rdrDayDisabled {
	cursor: not-allowed !important;
}

@media screen and (min-width: 950px) {
	.date-range {
		&--small {
			display: none;
		}
		&--big {
			display: block;
		}
	}
}
