.EntryFormContainer {
	position: relative;

	.EntryForm {
		header {
			height: 6rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid rgb(235, 235, 235);
			padding: 0 2.4rem;

			button {
				@include buttonSvgOutline;
			}

			div {
				-webkit-box-flex: 0;
				flex: 0 0 16px;
				text-align: right;
			}
		}

		&__title {
			font-size: 1.6rem;
			text-align: center;
			font-weight: 400;
		}

		&__main {
			padding: 2.4rem;

			&__form {
				&__submit-button {
					width: 100%;
					padding: 1.4rem 2.4rem;
					border-radius: 0.8rem;
					transition: opacity 1.25s ease 0s;
					-webkit-tap-highlight-color: transparent;
					background-image: linear-gradient(
						to right,
						#00a6de,
						#2baada,
						#41add5,
						#53b1d1,
						#63b4cd
					);
					position: relative;
					mask-image: -webkit-radial-gradient(center, white, black);
					overflow: hidden;
					color: white;
					border-radius: 0.8rem;

					.gradient-container {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						width: 100%;
						height: 100%;

						.gradient {
							--mouse-x: 0;
							--mouse-y: 0;
							display: block;
							width: 100%;
							height: 100%;
							min-width: 200px;
							background-position: calc(
									(100 - var(--mouse-x, 0)) * 1%
								)
								calc((100 - var(--mouse-y, 0)) * 1%);
							background-size: 200% 200%;
							opacity: 0;
							transition: opacity 1.25s ease 0s;
							background-image: radial-gradient(
								circle,
								#00a6de,
								#2dabdd,
								#44b1dc,
								#56b6db,
								#66bbda,
								#66bbda,
								#66bbda,
								#66bbda,
								#56b6db,
								#44b1dc,
								#2dabdd,
								#00a6de
							);

							&:hover {
								opacity: 1;
							}
						}
					}
					.submit-button__text {
						display: block;
						position: relative;
						pointer-events: none;
					}
				}
			}
		}
	}
}

.MuiContainer {
	margin: 2rem 0;

	&:first-child {
		margin-top: 2.8rem;
	}
	&:last-child {
		margin-bottom: 1.4rem;
	}

	&--password {
		position: relative;

		button {
			position: absolute;
			right: 1.2rem;
			top: 1.7rem;
			text-decoration: underline;
			font-size: 1.4rem;
			transform: translateY(-50%);
			color: $muted-text-color;
		}
	}
}

.MuiFormControl-root {
	position: relative;

	.MuiFormLabel-root {
		&.Mui-error {
			color: rgb(193, 53, 21) !important;
		}
	}

	.MuiInputLabel {
		&-outlined {
			color: grey;
			font-size: 1.6rem;
			margin-left: 10px;
			position: absolute;
			transform: translateY(0);
			top: 10px;

			&.MuiInputLabel-shrink {
				transform: translateY(-7px) scale(0.65);
			}
		}
	}

	.MuiInputBase-root {
		font-weight: 400;
		position: relative;
		font-size: 1.6rem;

		input {
			transform: translateY(5px);
			margin: 10px;
			padding: 0;
		}

		.MuiOutlinedInput {
			&-notchedOutline {
				legend {
					display: none;
				}
			}
		}
	}

	.MuiFormHelperText-root {
		margin: 0;
		font-weight: 400;
		font-size: 1.2rem;
		&.Mui-error {
			color: rgb(193, 53, 21) !important;
		}
	}
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: black;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
	border-color: rgb(193, 53, 21) !important;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
	color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit-year-field,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-text {
	color: black !important;
}

// .MuiFormLabel-root.Mui-error {
// 	color: #f44336 !important;
// }

input[type="date"]::-webkit-calendar-picker-indicator {
	// It's a background image, and so color won't work. Inverting will, however, turn it white
	filter: invert(1);
}

input[type="date"]:focus::-webkit-calendar-picker-indicator {
	filter: none;
}
